body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(11, 36, 71, 1);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 50px;
  margin: 0;
}
.header {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.profile-login {
  display: flex;
  align-items: center;
  color: white;
}

.login-link {
  margin-right: 10px;
  border: 1px solid #ddd;
  padding: 5px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}

.user {
  width: 30px;
  height: auto;
}

